.contain-all {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Set the height of the container to the full viewport height */
}

.image-holder{
    border-radius: 10px;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-holder img{
    border-radius: 20px;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod-data{
    border-radius: 20px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #FAF0E6
    ;
    background-color: whitesmoke;
    padding-left: 20px;
}
